.descHolder{
    width: 100%;
    height:100%;
    position: fixed;
    background-color:rgba(#1c437e,0.4);
    top:-100%;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn .5s forwards ease-in-out;
}
@keyframes fadeIn{
    0%{
        top:-100%;
    }
    100%{
        top:0%;
    }
}
.taskdesc{
    width: 25%;
    background-color: #fff;
    padding:60px 40px;
    position: relative;
    @media  screen and(max-width:500px){
        width:100%;
    }
}
#changeTaskName{
    border:none;
    border-bottom: 1px solid transparent;
    transition: .5s;
    &:focus{
        border-color: #1c437e;
        appearance: none;
        outline: none;
    }
}
#descArea{
    width: 100%;
    resize: none;
    border:none;
    background-color: #f0f5fb;
    padding:10px;
    &:focus{
        outline: none;
    }
}
#addDate{
    color:#1c437e;
    text-decoration: none;
    font-weight: 500;
    margin-right:20px;
}
#datePicker{
    border:none;
    outline: none;
}
.exitBtn{
    position: absolute;
    font-size:35px;
    top:15px;
    color: #1c437e;
    right: 20px;
    cursor: pointer;
}
#commitBtn{
    border:none;
    font-size:40px;
    background-color: transparent;
    color:#1c437e;
}